<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link href="../../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
	<title>xy-inc</title>
</head>
<body>

	<div class="container">
	  <div class="row">
	  	<div class="col-6 offset-4">
				
				<div class="card login">
	  				<div class="card-header">
				    	Tabela
					</div>
					<div class="card-body">
						<form method="POST" th:object="${tabela}" th:action="@{/tabela}">
							<div class="form-group">						
								<input type="text" class="form-control" placeholder="Nome" autofocus="autofocus" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid">
								<span class="help-block text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"/>
							</div>
							
							<button type="submit" name="adicionarColuna" class="btn btn-primary btn-block">Adicionar coluna</button>
														
							<table class="table">
								<thead>
									<tr>
										<th>Nome</th>
										<th>Tipo</th>
										<th></th>
									</tr>								
								</thead>
								<tbody>
									<tr th:each="coluna,rowStat : *{colunas}">
										<td>
											<input class="form-control" placeholder="Nome" type="text" th:field="*{colunas[__${rowStat.index}__].nome}"/>
										</td>
										<td>
											<select class="form-control" th:field="*{colunas[__${rowStat.index}__].tipoDado}">
												<option th:each="var : ${tiposDado}"
														th:value="${var.name()}"
														th:text="${var.name()}"/>
											</select>
										</td>
										<td>
									    	<button class="btn btn-danger" type="submit" name="removerColuna" th:value="${rowStat.index}">X</button>
									   	</td>
									</tr>
								</tbody>
							</table>
							
							<button type="submit" class="btn btn-primary btn-block">Criar tabela</button>
						</form>
						
						
					</div>				
				</div>
				
	  	</div>
	  </div>
	</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>